<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="service" class="ua.alexander.sqlcmd.service.ServiceImpl" scope="prototype">
        <property name="manager" ref="jdbcDataBaseManager"/>
        <property name="commands">
            <list>
                <value>help</value>
                <value>connect</value>
                <value>tables</value>
                <value>find</value>
                <value>create</value>
                <value>drop</value>
                <value>insert</value>
                <value>delete</value>
                <value>update</value>
            </list>
        </property>
    </bean>

    <bean id="serviceFactory" class="ua.alexander.sqlcmd.service.ServiceFactory">
        <property name="service" ref="service"/>
    </bean>

    <bean id="jdbcDataBaseManager" class="ua.alexander.sqlcmd.module.JDBCDataBaseManager" scope="prototype"/>

    <context:annotation-config/>
    <context:component-scan base-package="ua.alexander.sqlcmd"/>
</beans>
